.idea/vcs.xml

# IDE
.idea/

# Build
/build/
/dist/
*.log
*.seed

# Logs
npm-debug.log*
*.tsbuildinfo
*.pyc
# Environment variables
.env

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Specific to this project
output.txt
*.csv
